@import "../../assets/styles/mixins";

.pagination {
  width: 100%;
  justify-content: center;
  &__item {
    margin: 10px;
    font-family: "OldStandardTT";
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    cursor: pointer;
    &:first-of-type:before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: #000;
      top: 50%;
      left: -65px;
    }
    &:last-of-type:before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: #000;
      top: 50%;
      right: -65px;
    }

    &--active {
      font-size: 32px;
      line-height: 24px;
    }
  }
}
