@import "../../assets/styles/mixins";

.articleTeaserLarge {
  display: flex;
  justify-content: flex-end;
  height: calc(100vh - 80px);
  @include tablet {
    height: 400px;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    @include tablet {
      width: 100%;
    }
  }

  &__link {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #000;
    }
    @include tablet {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__content {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-left: 50px;
    z-index: 100;
    @include tablet {
      width: 100%;
      padding: 0 15px 15px 15px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: "OldStandardTT";
    font-weight: 600;
    @include paragraph(55px, 60px, 3);
    @include tablet {
      @include paragraph(30px, 40px, 2);
    }
  }

  &__info {
    position: relative;
    display: inline-block;
    @include tablet {
      align-self: flex-start;
    }
  }

  &__span {
    position: relative;
    z-index: 10;
    font-weight: 500;
  }
  &__separate {
    position: relative;
    z-index: 10;
    margin-right: 30px;
    font-family: "OldStandardTT";
    font-weight: 600;
  }
  &__info-color {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    top: 13px;
    width: 100%;
    height: 10px;
    background-color: #f878b3;
  }

  &__text {
    @include paragraph(16px, 20px, 4);
    @include tablet {
      display: none;
    }
  }
}
