@import "../../assets/styles/mixins";

.home-article-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 55px;

  @include tablet {
    padding: 0px 10px;
  }

  @include mobile {
    padding: 30px 0;
  }

  &__col {
    &--wide {
      width: 65%;
      padding-right: 55px;
      @include tablet {
        padding-right: 10px;
      }
      @include mobile {
        width: 100%;
        padding-right: 0;
      }
    }
    &--thin {
      width: 35%;
      padding-left: 55px;
      @include tablet {
        padding-left: 10px;
      }

      @include mobile {
        width: 100%;
        padding-left: 0px;
      }
    }
  }
}
