@import "../../assets/styles/mixins";

.articleTeaserSmall {
  display: flex;
  flex-direction: column;
  margin: 80px 0 60px 0;
  @include tablet {
    margin: 60px 0;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    @include mobile {
      height: 240px;
    }
  }

  &__link {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
  &__content {
    width: 47%;
    text-align: left;
    padding-left: 15px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: "OldStandardTT";
    font-weight: 400;
    margin-bottom: 0;
    @include paragraph(24px, 32px, 2);
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    &:hover {
      text-decoration: none;
    }
  }

  &__right-align {
    text-align: right;
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    font-family: "OldStandardTT";
    color: #bababa;
    margin-right: 10px;
  }
  &__category {
    font-size: 12px;
    font-weight: 600;
    font-family: "OldStandardTT";
  }
}
