@import "../../assets/styles/mixins";

.main-slider-control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  bottom: 0;
  width: 45px;
  height: 90px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  @include mobile {
    width: 35px;
    height: 40px;
  }

  &--prev {
    left: 0;
    @include mobile {
      color: #fff;
    }
  }
  &--next {
    right: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    @include mobile {
      background-color: transparent;
    }
  }
}
