@import "../../assets/styles/mixins";

.navbar {
  height: 60px;
  width: 100%;
  position: fixed !important;
  top: 0;
  padding-left: 40% !important;
  padding-right: 0 !important;
  background-color: #ffffff;
  z-index: 1000;
  @include tablet {
    padding-left: 100px !important;
  }
  @media screen and (max-width: 768px) {
    padding-left: 0px !important;
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 45px;
    max-width: 250px;
    height: 225px;
    z-index: 1000;
    -webkit-transition: height 0.3s; /* Safari */
    transition: height 0.3s;
    @include tablet {
      height: 50px;
      left: 10px;
    }
  }

  &--fixed &__logo {
    height: 50px;
  }

  &__collapse {
    justify-content: flex-start;
    position: relative;
    height: 60px;
  }

  &__list.ml-auto {
    margin-left: 0 !important;
  }

  &__list {
    background-color: #fff;
  }

  .nav-item {
    display: inline-flex;
    justify-content: center;
    padding: 8px 45px 8px 0;
    font-family: "OpenSans";
    font-weight: 300;
    @media screen and (max-width: 768px) {
      padding: 12px 0;
    }
  }

  &__link,
  &__link.btn {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: none;
    &:hover {
      color: #000 !important;
      text-decoration: none;
      background-color: #fff !important;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}
