.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 45px;
    width: calc(100% - 90px);
    height: 2px;
    background-color: #000;
  }

  &__icons {
    padding: 30px 45px 20px 45px;
    justify-content: center;
  }

  &__icon {
    max-width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  &__text {
    font-size: 10px;
    color: #7f7f7f;
  }

  &__links {
    margin-bottom: 10px;
  }

  &__link {
    font-weight: 600;
    font-size: 12px;
    margin: 0 10px;
    color: #000;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}
