@import "./assets/styles/page-article";

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.article-list__header-container {
  position: relative;
  display: inline-block;
  margin-top: 100px;
}

.article-list__header-color {
  position: absolute;
  bottom: 18px;
  right: -10%;
  width: 100%;
  height: 20px;
}

.article-list__header {
  position: relative;
  font-size: 60px;
  z-index: 10;
  margin-bottom: 0;
  line-height: 85px;
  // padding-left: 40%;
  text-align: left;
  font-family: "OldStandardTT";
  font-weight: 300;
}

$accent1: #f878b3;

$accent2: #7777f7;
