@import "./assets/styles/fonts";

body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", "OpenSans", "Helvetica", "Arial", sans-serif !important;
}

code {
  font-family: "M PLUS Rounded 1c", "OpenSans", "Helvetica", "Arial", sans-serif !important;
}
