@font-face {
  font-family: "OldStandardTT";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/OldStandardTT-Regular.ttf?") format("truetype"),
    url("./assets/fonts/OldStandardTT-Regular.woff") format("woff"),
    url("./assets/fonts/OldStandardTT-Regular.svg") format("svg");
}

@font-face {
  font-family: "OldStandardTT";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/OldStandardTT-Bold.ttf?") format("truetype"),
    url("./assets/fonts/OldStandardTT-Bold.woff") format("woff"),
    url("./assets/fonts/OldStandardTT-Bold.svg") format("svg");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/OpenSans-Bold.eot?") format("eot"),
    url("./assets/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Bold.woff") format("woff"),
    url("./assets/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("./assets/fonts/OpenSans-Bold.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/OpenSans-SemiBold.eot?") format("eot"),
    url("./assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-SemiBold.woff") format("woff"),
    url("./assets/fonts/OpenSans-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/OpenSans-SemiBold.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/OpenSans-Regular.eot?") format("eot"),
    url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Regular.woff") format("woff"),
    url("./assets/fonts/OpenSans-Regular.ttf") format("truetype"),
    url("./assets/fonts/OpenSans-Regular.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/OpenSans-Light.eot?") format("eot"),
    url("./assets/fonts/OpenSans-Light.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Light.woff") format("woff"),
    url("./assets/fonts/OpenSans-Light.ttf") format("truetype"),
    url("./assets/fonts/OpenSans-Light.svg#OpenSans") format("svg");
}
