@mixin paragraph($fontSize, $lineHeight, $rows) {
  max-height: $lineHeight * $rows;
  font-size: $fontSize;
  line-height: $lineHeight;
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin tablet {
  @media screen and (max-width: 980px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}
