@import "./mixins";

.article {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 55px;
  @include tablet {
    padding: 0 10px;
  }

  &__title {
    margin-top: 200px;
    margin-bottom: 100px;
    font-family: "OldStandardTT";
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    width: 120%;
    margin-right: -20%;
    text-align: left;
    @include tablet {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__lead {
    font-size: 35px;
    font-weight: 300;
    text-align: left;
  }

  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__column {
    width: 35%;
    @include mobile {
      width: 100%;
    }
  }

  &__first-img {
    width: 65%;
    height: auto;
    align-self: center;
    @include mobile {
      width: 100%;
    }
  }
}
