@import "../../assets/styles/mixins";

.articleTeaser {
  display: flex;
  justify-content: flex-start;
  margin: 80px 0;
  @include tablet {
    margin: 60px 0;
  }

  &__image-container {
    position: relative;
    width: 53%;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  &__link {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
  &__content {
    width: 47%;
    text-align: left;
    padding-left: 15px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: "OldStandardTT";
    font-weight: 600;
    margin-bottom: 0;
    @include paragraph(40px, 48px, 3);
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    font-family: "OldStandardTT";
    color: #bababa;
  }
  &__text {
    @include paragraph(16px, 20px, 4);
  }

  &__category-tekst {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -10px;
  }

  &__category-color {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    top: 10px;
    width: 100%;
    height: 10px;
    background-color: #f878b3;
  }

  &__category {
    position: relative;
    @include paragraph(16px, 20px, 4);
    font-weight: 600;
    z-index: 10;
  }
}
